name: Build and Deploy to Azure

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Restore dependencies
        run: dotnet restore backend/InventoryAPI/InventoryAPI.csproj

      - name: Build
        run: dotnet build backend/InventoryAPI/InventoryAPI.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish backend/InventoryAPI/InventoryAPI.csproj -c Release -o ${{github.workspace}}/publish

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'smart-booking-ccd3bqgpgxegcfex'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{github.workspace}}/publish
